.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
}
.App_header{
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}
